* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.img-logo {
  width: 150px;
  height: 80px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  line-height: 80px;
  padding: 0 40px;
}



.list {
  display: flex;
  display: row;
}

.list li {
  color: lightgrey;
  list-style: none;
  padding: 0 15px;
}

li:hover {
  color: black;
  cursor: pointer;
}

.list li a {
  text-decoration: none;
  color: #8B959E;
}

.menu {
  box-shadow: 5px 10px 20px #8B959E;
  border-radius: 10px;
  position: absolute;
  white-space: nowrap;
  display: none;

}

.open-menu {
  position: relative;
}




.button {

  width: 150px;
  height: 30px;
  text-align: center;
  margin: auto;
  border-radius: 50px;
  background-color: #D7328F;
}
