* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-nav {
  height: 70px;

  padding: 0 40px;

}

.nav-left {
  width: 45%;
}

.nav-right {
  width: 45%;
}

.flex {
  display: flex;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.main-nav{
  padding: 50px;
}

.list li {
  list-style: none;
  padding: 0 5px;
}

a {
  text-decoration: none;
  color: lightgrey;
}

.cont-logo {
  vertical-align: top;
}

.logo {
  width: 150px;

}

.button {
  height: 30px;
  width: 150px;
  text-align: center;
  background-color: #D73391;
  border-radius: 50px;
  vertical-align: middle;
}
